


                                    data-pjax-state=""></a>
                        <div class="media-action media-action-overlay">
                            <button class="btn btn-icon no-bg no-shadow hide-row" data-toggle-class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-heart active-fill">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play active"></button>
                            <button class="btn btn-icon no-bg no-shadow hide-row btn-more" data-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-more-horizontal">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"></div>
                        </div>
                    </div>
                    <div class="list-content text-center">
                        <div class="list-body"><a href="item.detail.html#378918899" class="list-title title ajax h-1x"
                                                  data-pjax-state="">Body </a><a href="artist.detail.html#378918899"
                                                                                 class="list-subtitle d-block text-muted h-1x subtitle ajax"
                                                                                 data-pjax-state="">Loud Luxury Feat.
                            Brando</a></div>
                    </div>
                    <div class="list-action show-row">
                        <div class="d-flex align-items-center">
                            <div class="px-3 text-sm text-muted d-none d-md-block">03:26</div>
                            <button class="btn btn-icon no-bg no-shadow" data-toggle-class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-heart active-primary">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-icon no-bg no-shadow btn-more" data-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-more-horizontal">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="heading pt-5 pb-3 d-flex">
            <div>
                <div class="text-muted sr-item is-show is-shown" data-sr-id="21"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    Upcoming
                </div>
                <h5 class="text-highlight sr-item is-show is-shown" data-sr-id="22"
                    style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    Events</h5></div>
            <span class="flex"></span></div>
        <div class="row">
            <div class="col-6">
                <div class="list-item list-overlay r mb-3 is-show is-shown" data-sr-id="23"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    <div class="media media-4x3 gd-primary"><a href="blog.detail.html#" class="ajax media-content"
                                                               style="background-image:url()" data-pjax-state=""></a>
                        <div class="media-action"></div>
                    </div>
                    <div class="list-content p-4">
                        <div class="list-body"><a href="blog.detail.html#"
                                                  class="list-title title ajax h5 font-weight-bold" data-pjax-state="">Spring
                            Festival </a><a href="artist.detail.html#"
                                            class="list-subtitle d-block text-muted h-1x subtitle ajax"
                                            data-pjax-state="">Eu malesuada eu, id duis dictum feugiat purus
                            tincidunt</a></div>
                        <div class="list-footer">
                            <div class="text-muted text-sm">Feb 1, 7:32 am</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="list-item list-overlay r mb-3 is-show is-shown" data-sr-id="24"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    <div class="media media-4x3 gd-success"><a href="blog.detail.html#" class="ajax media-content"
                                                               style="background-image:url( )" data-pjax-state=""></a>
                        <div class="media-action"></div>
                    </div>
                    <div class="list-content p-4">
                        <div class="list-body"><a href="blog.detail.html#"
                                                  class="list-title title ajax h5 font-weight-bold" data-pjax-state="">Music
                            Hub 2020 </a><a href="artist.detail.html#"
                                            class="list-subtitle d-block text-muted h-1x subtitle ajax"
                                            data-pjax-state="">Ipsum, accumsan purus etiam risus senectus sit at
                            justo</a></div>
                        <div class="list-footer">
                            <div class="text-muted text-sm">Feb 29, 12:48 am</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading pt-5 pb-3 d-flex">
            <div>
                <div class="text-muted sr-item is-show is-shown" data-sr-id="25"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    Blog
                </div>
                <h5 class="text-highlight sr-item is-show is-shown" data-sr-id="26"
                    style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    News</h5></div>
            <span class="flex"></span></div>
        <div class="row">
            <div class="col-4">
                <div class="list-item r is-show is-shown" data-sr-id="27"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    <div class="media media-16x9"><a href="blog.detail.html#" class="ajax media-content"
                                                     style="background-image:url(../assets/img/b15.jpg)"
                                                     data-pjax-state=""></a>
                        <div class="media-action"></div>
                    </div>
                    <div class="list-content">
                        <div class="list-body"><a href="blog.detail.html#" class="list-title title ajax"
                                                  data-pjax-state="">Egestas risus eget vestibulum</a></div>
                        <div class="list-footer">
                            <div class="text-muted text-sm">Feb 17, 12:26 am</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="list-item r is-show is-shown" data-sr-id="28"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    <div class="media media-16x9"><a href="blog.detail.html#" class="ajax media-content"
                                                     style="background-image:url(../assets/img/b16.jpg)"
                                                     data-pjax-state=""></a>
                        <div class="media-action"></div>
                    </div>
                    <div class="list-content">
                        <div class="list-body"><a href="blog.detail.html#" class="list-title title ajax"
                                                  data-pjax-state="">Sed risus iaculis vel aliquam</a></div>
                        <div class="list-footer">
                            <div class="text-muted text-sm">Feb 1, 4:53 am</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="list-item r is-show is-shown" data-sr-id="29"
                     style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                    <div class="media media-16x9"><a href="blog.detail.html#" class="ajax media-content"
                                                     style="background-image:url(../assets/img/b17.jpg)"
                                                     data-pjax-state=""></a>
                        <div class="media-action"></div>
                    </div>
                    <div class="list-content">
                        <div class="list-body"><a href="blog.detail.html#" class="list-title title ajax"
                                                  data-pjax-state="">In aliquet quam</a></div>
                        <div class="list-footer">
                            <div class="text-muted text-sm">Feb 5, 8:37 am</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>